.container {
  /* display: flex; */
  margin-top: 10vh;
}

/* .left-panel {
  width: 20%;
  padding: 10px;
  background-color: #f4f4f4;
} */

/* .filter-menu {
  margin-bottom: 20px;
} */

/* .filter-menu label {
  display: block;
  margin-bottom: 10px;
} */

.main-content {
  /* width: 80%; */
  padding: 1vw 5vw;
  background-color: #ccc;
}

.main-content button {
  /* width: 80%; */
  margin: 4px;
}

.question-box {
  margin-bottom: 20px;
}

.answer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.answers-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}

.answer-box {
  padding: 20px;
  border: 1px solid #ccc;
  cursor: pointer;
  text-align: center;
}

.answer-box.selected {
  background-color: #d4edda;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
