/* src/pages/Profile.css */

/* Container for the profile */
.profile-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    font-family: 'Arial, sans-serif';
  }
  
  /* Heading for the profile */
  .profile-container h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
    color: #333;
  }
  
  /* Details section styling */
  .profile-details {
    margin-bottom: 30px;
  }
  
  .profile-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .profile-field label {
    flex: 1;
    font-weight: bold;
    text-align: right;
    color: #555;
  }
  
  .profile-field p {
    flex: 2;
    margin-left: 10px;
    font-size: 16px;
    color: #333;
  }
  
  .profile-field input {
    flex: 2;
    margin-left: 10px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* .edit-icon {
    cursor: pointer;
    margin-left: 10px;
    font-size: 18px;
    color: #007bff;
  }
  
  .save-button, .cancel-button {
    display: block;
    width: 100px;
    margin: 0 auto;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .save-button:hover {
    background-color: #0056b3;
  } */

  .edit-icon {
    cursor: pointer;
    margin-left: 10px;
    font-size: 18px;
    color: #007bff;
  }
  
  /* Buttons in edit mode */
  .edit-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .save-button, .cancel-button {
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .save-button {
    background-color: #007bff;
    color: #fff;
  }
  
  .save-button:hover {
    background-color: #0056b3;
  }
  
  .cancel-button {
    background-color: #f0f0f0;
    color: #333;
  }
  
  .cancel-button:hover {
    background-color: #ccc;
  }
  
  
  /* User stats section styling */
  .stats-details {
    margin-top: 30px;
  }
  
  .stats-details h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    color: #333;
  }
  
  .stats-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .stats-field label {
    flex: 1;
    font-weight: bold;
    text-align: right;
    color: #555;
  }
  
  .stats-field p {
    flex: 2;
    margin-left: 10px;
    font-size: 16px;
    color: #333;
  }
  