.content-boxes {
    height: 40vh;
    display: flex;
    /* justify-content: space-around; */
    justify-content: center;
    /* padding: 50px 20px; */
    padding: 20vh 10vh 5vh 10vh;
    /* background: #f0f0f0; */
    background: #ffffff;
    margin-top: 5vh;
  }
  
  .box {
    background: rgb(240, 240, 240);
    height: 80%;
    padding: 20px;
    border-radius: 15%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.2s;
    width: 25%;
    margin: 0px 2vh;
  }
  
  .box:hover {
    transform: scale(1.05);
  }
  
  .box h2 {
    margin-top: 0;
  }
  
  .box p {
    margin-bottom: 0;
  }
  
  .box button {
    background-color: #111211; 
    border: none;
    color: white;
    padding: 1.5vh 4vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vh;
    margin: 5vh 2vh;
    cursor: pointer;
    border-radius: 4px;
  }
  
  /* box .button:hover {
    background-color: #45a049;
  } */