.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #f5f2f2;
    color: rgb(71, 70, 70);
    padding: 10px 0;
    z-index: 1000; /* Ensure the header is above other content */
  }
  
  .navbar .menu {
    list-style: none;
    padding: 0;
    width: 90%;
    display: flex;
    justify-content: right;
    margin: 0;
  }
  
  .navbar .menu-item {
    margin: 0 15px;
  }
  
  .navbar .menu-item a {
    color: rgb(73, 71, 71);
    text-decoration: none;
    font-size: 18px;
  }
  /* ======================= */
  .nav-list {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
  }
  .nav-item {
    text-decoration: none;
    color: #7c7d7e;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .nav-item:hover {
    background-color: #e2e6ea;
  }
  
  .active {
    background-color: #424243;
    color: white;
  }